header, article, footer{
    border: solid 1px black;
    margin: 5px;
}
header, footer{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
}
article{
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
}