div, header, article, a{
    text-decoration: none;
}
.nav_elementer, #burger{
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
#burger{
    font-size: 3.5rem;
	font-weight: bold;
	margin: 0.25rem;
}
header{background-color: #121212;}
#logo{background-color: deepskyblue;}
#innhold{background-color: #121212;}
.knapp{background-color: deepskyblue;}
footer{background-color: #212121; color: white;}
.dropdown-content {background-color: skyblue;}
/* slutt farger*/
